//Fonts
$font-navbar: 'Work Sans', sans-serif;
$font-p: 'Work Sans', sans-serif;
$font-main-title: 'Playfair Display', serif;

//Colors
$white: #fff;
$black: #121212;
$blue-cyan: #2094E6;
$dark-gray: #394D52;
$beige: #E3DEC1;

//Commons
%p-principal{
    font-family: $font-p;
    color: $black;
}

%p-common{
    color: $white;
    font-family: $font-p;
}

%title-principal{
    font-family: $font-main-title;
    color: $black;
}
%subtitle{
    font-family: $font-main-title;
    color: $blue-cyan;
}