@use 'global' as *;

section{
    padding-top: 5%;
}

h1{
    color: $white;
    font-family: $font-main-title;
}
h3{
    color: $black;
    font-family: $font-main-title;
}
h5{
    font-family: $font-main-title;
    color: $white;
    font-size: 24px;
}
p{
    @extend %p-principal
}
a{
    cursor: pointer;
    text-decoration: none;
}
span{
    @extend %subtitle;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
footer{
    background-color: $black;
}
hr{
    color: $beige;
}
.p-common{
    @extend %p-common
}
.card-info{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: left;
    align-items: left;

    & > img{
        width: 30%;
    }

    & > p{
        font-family: $font-p;
        color: $black;
        font-size: 16px;
    }
}

.nav-main-mt{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    height: 65px;
    padding-bottom: 0%;

    & > div {
        & > a {
            width: 20%;
        }
    }
    .nav-li{
        font-family: $font-navbar;
        font-size: 16px;
        line-height: 24px;

        & > a {
            color: $white;
        }
    }
}



