/*commos*/
button{
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: #2094E6;
    border: none;
}
button:hover{
    background-color: transparent;
    border: 1px solid;
    color: #2094E6;
    transition: 1s;
}
.logo-nav{
    width: 60%;
    margin-left: 30%;
}
.logo-footer{
    width: 70%;
}
#animation{
    animation-name: imgAnimation;
    animation-duration: 3s;
    position: relative;
    animation-delay: 1s;
    animation-timing-function: linear;
}
@keyframes imgAnimation{
 0% {display: hiden; top: 0; left: -50px;}
 100% {left: 60px; top: 0px;}
}
.text-center{
    text-align: center;
    align-content: center;
}

/*Main*/
.section-header-main{
    width: 100%;
    height: 699px;
    padding-top: 15%;
    background-image: url("./images/header.jpg");
    background-repeat: round;
}
.card-galery{
    color: #fff;
    width: 350px;
    height: 400px;
    border-radius: 0px;
    text-align: center;
    padding-top: 55%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: outset;
}
.bg-img-destination1{
    background-image: url("./images/destino1.jpg");
}
.bg-img-destination2{
    background-image: url("./images/destino2.jpg");
}
.bg-img-destination3{
    background-image: url("./images/destino3.jpg");
}
.bg-img-destination4{
    background-image: url("./images/destino4.jpg");
}
.bg-img-destination5{
    background-image: url("./images/destino5.jpg");
}
.bg-img-destination6{
    background-image: url("./images/destino6.jpg");
}
.bg-img-destination7{
    background-image: url("./images/destino7.jpg");
}
.bg-img-destination8{
    background-image: url("./images/destino8.jpg");
}
.bg-img-destination9{
    background-image: url("./images/destino9.jpg");
}
.section-contact{
    width: 100%;
    height: 450px;
    padding-top: 5%;
    background-image: url("./images/contacto.jpg");
    background-repeat: round;
    text-align: center;
    align-items: center;
}
/*Back to top*/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.btn {
    font-weight: 500;
    transition: .5s;
}
.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/*AboutUs*/
.section-header-aboutUs{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerNosotros.jpg");
    background-repeat: round;
}
.section-partners{
    text-align: center;
    align-items: center;
    background-color: #b1daf6;
}
.section-partners .container .row figure{
    width: 80%;
}

/*Contact*/
.section-header-contact{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerContacto.jpg");
    background-repeat: round;
}
section .row figure img{
    width: 20%;
}
.bg-color-map{
    background-color: #b1daf6;
}

/*Blog*/
.section-header-blog{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerBlog.jpg");
    background-repeat: round;
}
.card-blog{
    width: 18rem;
}
.img-blog-info{
    width: 100% !important;
}
.card-blog img{
    height: 175px;
}
/* Mobile */
@media screen and (max-width: 425px){
    .nav-bg-black{
        background-color: #121212;
    }
    .logo-nav{
        width: 100%;
    }
    #animation{
        animation-name: imgAnimation;
        animation-duration: 3s;
        position: relative;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-timing-function: infinite;
    }
    @keyframes imgAnimation{
     0% {display: hiden; top: -10px; left: 0px;}
     100% {left: 0px; top: 50px;}
    }
    .section-header-main{
        padding-top: 60%;
        background-image: url("./images/header-mobile.jpg");
        background-repeat: round;
    }
    .card-galery{
        width: auto;
    }
    .section-contact{
        width: 100%;
        height: 250px;
    }
    .section-header-aboutUs{
        height: 235px;
    }
    .section-header-contact{
        height: 235px;
    }
    .section-header-blog{
        height: 235px;
    }
    .img-blog-info{
        width: 75% !important;
    }

}
/* tablet */
@media (min-width: 425px) and (max-width: 900px){
    .nav-bg-black{
        background-color: #121212;
    }
    .section-header-main{
        padding-top: 35%;
        background-image: url("./images/header-tablet.jpg");
        background-repeat: round;
    }
    .card-galery{
        width: auto;
    }
}