/* Commons */
body {
    width: 100%;
    overflow-x: hidden;
}

h4 {
    color: #fff;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #b1daf6;
    border: none;
    padding: 5%;
}

button {
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: #2094E6;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: transparent;
    border: 1px solid;
    color: #2094E6;
    transition: 1s;
}

.logo-nav {
    width: 40%;
    margin-left: 30%;
}

.logo-footer {
    width: 70%;
}

.button_nav {
    border-radius: 5px;
}

#animation {
    animation-name: imgAnimation;
    animation-duration: 3s;
    position: relative;
    animation-delay: 1s;
    animation-timing-function: linear;
}

@keyframes imgAnimation {
    0% {display: hiden; top: 0; left: -50px;}
    100% {left: 60px; top: 0px;}
}

.text-center {
    text-align: center;
    align-content: center;
}
/* Estilo para el fondo cuando el menú hamburguesa está activo */
.navbar-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent; /* Fondo transparente para que no se sobreponga */
}

/* Estilo para las listas dentro del menú */
.navbar-nav {
    display: flex;
    flex-direction: column;  /* Las secciones se alinean verticalmente */
    justify-content: center;
    width: 100%;
}

/* Espaciado entre los elementos del menú */
.nav-item {
    text-align: center;
    margin-bottom: 10px; /* Espacio entre los ítems */
}

.nav-item .nav-link {
    color: white; /* Color blanco para los enlaces */
    font-size: 18px; /* Tamaño de fuente para el menú */
}

/* Cambiar color de los enlaces cuando se pasa el mouse */
.nav-item .nav-link:hover {
    color: #2094E6; /* Color azul para el hover */
}

.button_nav:hover {
    background-color: #2094E6;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 767px) {
    .navbar-toggler {
        border-color: transparent; /* Borde transparente */
        background-color: transparent; /* Fondo transparente */
    }

    /* Cambiar color de las tres líneas (hamburguesa) */
    .navbar-toggler-icon {
        background-color: rgba(255, 255, 255, 0.7); /* Líneas blancas semi-transparentes */
    }

    /* Para cambiar las líneas de la hamburguesa */
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after,
    .navbar-toggler-icon span {
        background-color: rgba(255, 255, 255, 0.7); /* Líneas blancas semi-transparentes */
    }

    /* Para hacer el logo más grande en pantallas pequeñas */
    .logo-nav {
        width: 80%; /* Aumentar el tamaño del logo en dispositivos pequeños */
        margin-left: 20%; /* Ajustar la alineación */
    }

    /* Fondo cuando el menú está desplegado */
    .navbar-collapse.show {
        background-color: transparent; /* Evita que el fondo cambie al abrir el menú */
    }
}



/*Main*/
.section-header-main{
    width: 100%;
    height: 699px;
    padding-top: 15%;
    background-image: url("./images/bg-new.png");
    background-repeat: round;
}
.card-galery{
    color: #fff;
    width: 350px;
    height: 400px;
    border-radius: 0px;
    text-align: center;
    padding-top: 55%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: outset;
}
.bg-img-destination1{
    background-image: url("./images/destino1.jpg");
    border-radius: 8px;
}
.bg-img-destination2{
    background-image: url("./images/destino2.jpg");
    border-radius: 8px;
}
.bg-img-destination3{
    background-image: url("./images/destino3.jpg");
    border-radius: 8px;
}
.bg-img-destination4{
    background-image: url("./images/destino4.jpg");
    border-radius: 8px;
}
.bg-img-destination5{
    background-image: url("./images/destino5.jpg");
    border-radius: 8px;
}
.bg-img-destination6{
    background-image: url("./images/destino6.jpg");
    border-radius: 8px;
}
.bg-img-destination7{
    background-image: url("./images/destino7.jpg");
    border-radius: 8px;
}
.bg-img-destination8{
    background-image: url("./images/destino8.jpg");
    border-radius: 8px;
}
.bg-img-destination9{
    background-image: url("./images/destino9.jpg");
    border-radius: 8px;
}
.section-contact{
    width: 100%;
    height: 450px;
    padding-top: 5%;
    background-image: url("./images/contacto.jpg");
    border-radius: 8px;
    background-repeat: round;
    text-align: center;
    align-items: center;
}
/*Back to top*/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.btn {
    font-weight: 500;
    transition: .5s;
}
.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
/*Travel*/
.section-header-travel{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerTravel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*AboutUs*/
.section-header-aboutUs{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerNosotros.jpg");
    background-repeat: round;
}
.section-partners{
    text-align: center;
    align-items: center;
    background-color: #b1daf6;
}
.section-partners .container .row figure{
    width: 80%;
}

/*Contact*/
.section-header-contact{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerContacto.jpg");
    background-repeat: round;
}
section .row figure img{
    width: 20%;
}
.bg-color-map{
    background-color: #b1daf6;
}

/*Blog*/
.section-header-blog{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerBlog.jpg");
    background-repeat: round;
}
.card-blog{
    width: 18rem;
}
.img-blog-info{
    width: 100% !important;
}
.card-blog img{
    height: 175px;
}

/*Travels*/
.section-header-travels{
    width: 100%;
    height: 499px;
    padding-top: 15%;
    background-image: url("./images/headerViajes.jpg");
    background-repeat: round;
}
.section-travels-progress{
    background-color: #b1daf6;
    padding: 2%;
    font-family: 'Playfair Display', serif;
}
.section-travels-progress p{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 27px;
    -webkit-text-stroke: 1px #121212;
}

/* Mobile */
@media screen and (max-width: 425px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .nav-bg-black{
        background-color: #121212;
    }
    .logo-nav{
        width: 100%;
    }
    #animation{
        animation-name: imgAnimation;
        animation-duration: 3s;
        position: relative;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-timing-function: infinite;
    }
    @keyframes imgAnimation{
     0% {display: hiden; top: -10px; left: 0px;}
     100% {left: 0px; top: 50px;}
    }
    .section-header-main{
        padding-top: 60%;
        background-image: url("./images/header-mobile.jpg");
        background-repeat: round;
    }
    .card-galery{
        width: auto;
    }
    .section-contact{
        width: 100%;
        height: 250px;
    }
    .section-header-aboutUs{
        height: 235px;
    }
    .section-header-contact{
        height: 235px;
    }
    .section-header-blog{
        height: 235px;
    }
    .img-blog-info{
        width: 75% !important;
    }
    .card-blog{
        width: 100%;
    }
    .section-header-travels{
        height: 235px;
    }

}
/* tablet */
@media (min-width: 425px) and (max-width: 900px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    
    /* Fondo de la barra de navegación en dispositivos tablet */
    .nav-bg-black {
        background-color: #121212; /* Fondo oscuro */
    }

    /* Estilo para la sección de encabezado en tablet */
    .section-header-main {
        padding-top: 35%; /* Espaciado superior */
        background-image: url("./images/header-tablet.jpg");
        background-repeat: round; /* Asegura que la imagen de fondo se repita correctamente */
        background-size: cover; /* Asegura que la imagen cubra toda la sección */
    }

    /* Ajustes para las tarjetas en la galería */
    .card-galery {
        width: auto; /* Ajusta el tamaño de las tarjetas en la galería para que se ajusten al contenido */
    }

    /* Ajustes para las tarjetas de blog */
    .card-blog {
        width: 100%; /* Hace que las tarjetas del blog ocupen el 100% del ancho disponible */
    }

    /* Logo más grande en tablet */
    .logo-nav {
        width: 80%; /* Hace que el logo sea más grande en tablet */
        margin-left: 25%; /* Ajusta la alineación para que el logo esté centrado */
    }

    /* Estilo para las líneas del menú hamburguesa en tablet */
    .navbar-toggler {
        border-color: transparent; /* Borde transparente */
        background-color: transparent; /* Fondo transparente */
    }

    /* Cambiar color de las tres líneas (hamburguesa) */
    .navbar-toggler-icon {
        background-color: rgba(255, 255, 255, 0.7); /* Líneas blancas semi-transparentes */
    }

    /* Para cambiar las líneas de la hamburguesa */
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after,
    .navbar-toggler-icon span {
        background-color: rgba(255, 255, 255, 0.7); /* Líneas blancas semi-transparentes */
    }
}
